{#
/**
 * @file
 * Theme override to display a formatted image field with svg pan zoom.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - path: An optional array containing the link 'path' and link 'options'.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_svg_pan_zoom_formatter()
 */
#}
{% if url %}
  {{ link(image, url) }}
{% else %}
  {{ image }}
{% endif %}

